<div class="row">
  <div class="col topBun">
    <img class="responsive-img" src="/assets/img/topBun.png" alt="BURGER">
  </div>
</div>
<div class="row">
  <div class="col onion">
    <h1>EAT ME!</h1>
    <h5>A Burger Tracker</h5>
    <img class="responsive-img" src="/assets/img/meat.png" alt="BURGER">
  </div>
</div>

<div class="row">
  <div class="col lettuce">
    <img class="responsive-img" src="/assets/img/cheese.png" alt="BURGER">
    <h3>My Burger List</h3>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            <li class="burger-item">
              <p>
                {{this.id}}. {{this.burger_name}}
                <br>
                <button data-burgerid="{{this.id}}" class="delburger">Delete</button>
                <button data-burgerid="{{this.id}}" class="devourburger">Devour</button>
              </p>
            </li>
          {{/unless}} 
        {{/each}}
      </ul>
  </div>
</div>

<div class="row">
  <div class="col meat">
    <img class="responsive-img" src="/assets/img/lettuce.png" alt="BURGER">
    <h3>Devoured Burgers</h3>
    <ul>
      {{#each burgers}}
        {{#if devoured}}
          <li class="burger-item devoured">
            <p>
              {{this.id}}. {{this.burger_name}}
              <br>
              <button data-burgerid="{{this.id}}" class="delburger">Delete</button>
            </p>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col cheese">
    <img class="responsive-img" src="/assets/img/cheese.png" alt="BURGER">
    <h3>List a Burger to Eat</h3>
    <form id="createburger" class="button-size">
      <textarea type="text" name="burger_name" placeholder="(Big Kahuna Burger)"></textarea>
      <button type="submit">Save Burger!</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col meat">
    <img class="responsive-img" src="/assets/img/meat.png" alt="BURGER">
  </div> 
</div>
<div class="row">
  <div class="col bottomBun">
    <h3>Rename Burgers</h3>
    <form id="updateburgers" class="button-size">
      <select name="id">
        {{#each burgers}}
          <option value="{{this.id}}">{{this.burger_name}}</option>
        {{/each}}
      </select>
      <br>
      <textarea type="text" name="update_burger" placeholder="(New Burger Name)"></textarea>
      <button type="submit">Update Burger!</button>
      <br>
    </form>
   
    <img class="responsive-img bottomBun" src="/assets/img/bottomBun.png" alt="BURGER">
  </div>
</div>