
<h1>EAT ME!</h1>

<div class="row">
  <div class="col">
  <h2>My Burger List</h2>
    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          <li>
            <p>
              {{this.id}}. {{this.burger_name}}
              <br>
              <button data-burgerid="{{this.id}}" class="delburger">Delete</button>
              <button data-burgerid="{{this.id}}" class="devourburger">Devour</button>
            </p>
          </li>
        {{/unless}} 
      {{/each}}
    </ul>
  </div>


  <div class="col">
    <h2>Devoured Burgers</h2>
    <ul>
      {{#each burgers}}
        {{#if devoured}}
          <li>
            <p>
              {{this.id}}. {{this.burger_name}}
              <br>
              <button data-burgerid="{{this.id}}" class="delburger">Delete</button>
            </p>
          </li>
        {{!-- {{else}}
          <h3>You haven't devoured any burgers yet!</h3> --}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<h2>List a Burger to Eat</h2>
<form id="createburger" class="button-size">
  <textarea type="text" name="burger_name"></textarea>
  <button type="submit">Save Burger!</button>
</form>

<h2>Update Burgers</h2>
<form id="updateburgers" class="button-size">
  
  <select name="id">
    
		{{#each burgers}}
			<option value="{{this.id}}">{{this.burger_name}}</option>
		{{/each}}
	</select>
  <br>
  <textarea type="text" name="update_burger" placeholder="New Burger Name"></textarea>
  <button type="submit">Update Burger!</button>
  <br>
</form>